node_modules/
package-lock.json

dist/
build/
out/

.env
.env.local
.env.*.local

src/utils/firebase.ts

.electron-builder.env

*.tsbuildinfo

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.DS_Store
Thumbs.db

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

appData.json